.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    position: relative;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    background-size: contain;
    /* выше установили ограничения для секции */
    display: flex;
    font-family: "Helvetica Neue", Arial, sans-serif;
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    height: 568px;
    width: 568px;
}


/* и элемента с модификатором вида ключ-значение */

.logo {
    width: 183px;
    height: 32px;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 2;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-image: url("../images/logo.svg");
}

.header__title {
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    z-index: 3;
    margin: 0;
    margin-left: 64px;
}

.header__subtitle {
    margin: 0;
    width: 388px;
    left: 64px;
    position: absolute;
    bottom: 30px;
    z-index: 3;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    background-size: cover;
    background-image: url("../images/two_again.png");
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.header__square-pic {
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}

.description {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.two-columns {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.two-columns__brief {
    margin: 0;
    width: 175px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    margin: 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

.two-columns__span-accent {
    font-weight: bold;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
}

.section-subtitle {
    margin: 0;
    width: 60%;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}

.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    margin: 0;
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
}

.table__text {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.feinman {
    margin: 0;
    height: 790px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.feinman__img {
    width: 867px;
    height: 637px;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
}

.feinman__title {
    width: 648px;
    z-index: 2;
    text-align: center;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
    margin-bottom: 70px;
}

.feinman__subtitle {
    z-index: 2;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    margin: 0;
}

.feinman__link {
    color: black;
    margin: 0;
    z-index: 2;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    text-decoration: none;
}

.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
}

.section-title_theme_dark {
    color: white;
    width: 60%;
    font-size: 60px;
    line-height: 69px;
    font-weight: bold;
}

.section-subtitle_theme_dark {
    color: white;
    width: 60%;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}

.table_theme_dark {}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 2;
}

.table__heading_theme_dark {
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
}

.table__text_theme_dark {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    background-size: cover;
    background-image: url(../images/triangle.svg);
}

.footer {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    min-height: 350px;
    justify-content: center;
}

.logo_place_footer {
    top: 0px;
    left: 0px;
    background-image: url(../images/logo_white.svg)
}

.footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer__column_content_copyright {
    margin: 0;
    padding: 0;
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__author {
    margin: 0;
    color: white;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.footer__column_content_info {}

.footer__column-heading {
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer__column-links {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.footer__column_content_social {
    color: white;
}

.footer__social-icon {
    list-style: none;
}

.footer__column-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
}